In [1]:
%pip install opencv-python
import cv2 as cv
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: opencv-python in c:\users\kar\anaconda3\lib\site-packages (4.9.0.80)
Requirement already satisfied: numpy>=1.21.2 in c:\users\kar\anaconda3\lib\site-packages (from opencv-python) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from IPython.display import display, Image
import json
image_directory = r"F:\Karthik-Backup2023\olddesktop-2022-23\Programming\ScienceFair-RadioGalaxy\RadioGalaxyNET\train"
annotations_directory = r"F:\Karthik-Backup2023\olddesktop-2022-23\Programming\ScienceFair-RadioGalaxy\RadioGalaxyNET\annotations\train.json"
with open(annotations_directory) as json_data:
    data = json.load(json_data)

annotations = data["annotations"] 
images = data["images"]

In [3]:
for i in range(len(images)):
    id = images[i]["id"]
    if(id != annotations[i]["image_id"]):
        annotations.pop(i)
annotations.pop(1959);

In [4]:
print(len(annotations))
print(len(images))

1959
1959

In [5]:
df = pd.DataFrame()
for i in range(len(images)):
    file_name = images[i]["file_name"]
    image = cv.imread(os.path.join(image_directory, file_name), cv.IMREAD_GRAYSCALE)
    segmentation = annotations[i]["segmentation"]
    bbox = annotations[i]["bbox"]
    keypoints = annotations[i]["keypoints"]
    label = annotations[i]["category_id"]

    new_record = pd.DataFrame([{"image_arr": image, "segmentation": segmentation, "bbox": bbox, "keypoints": keypoints, "label": label}])
    df = pd.concat([df, new_record], ignore_index=True)


    "id": 1,
    "name": "FR-II"

    "id": 2,
    "name": "FR-I"

    "id": 3,
    "name": "FR-X"

    "id": 4,
    "name": "R"

In [6]:
df.head(20)

,image_arr,segmentation,bbox,keypoints,label
0,"[[0, 0, 0, 0, 0, 0, 16, 24, 34, 43, 47, 43, 31...","[[194, 214.5, 197, 213.5, 198.5, 211, 187, 197...","[182.5, 197.5, 78, 47]","[225, 225, 2]",1
1,"[[0, 0, 0, 0, 0, 0, 0, 0, 49, 72, 72, 55, 11, ...","[[226, 242.5, 234, 238.5, 238, 233.5, 242.5, 2...","[208.5, 202.5, 34, 40]","[225, 225, 2]",1
2,"[[76, 38, 10, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[228, 229.5, 233, 227.5, 235.5, 224, 227, 218...","[213.5, 214.5, 22, 15]","[225, 225, 2]",4
3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[228, 231.5, 234.5, 225, 232, 222.5, 227, 221...","[211.5, 213.5, 23, 18]","[225, 225, 2]",4
4,"[[0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[228, 230.5, 231.5, 229, 232.5, 225, 232.5, 2...","[213.5, 216.5, 19, 14]","[225, 225, 2]",4
5,"[[0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 4, 0, 5, 8, 8,...","[[208, 238.5, 212.5, 237, 214, 232.5, 227, 232...","[198.5, 211.5, 43, 27]","[225, 225, 2]",1
6,"[[67, 59, 40, 18, 0, 0, 0, 2, 35, 64, 76, 74, ...","[[233, 245.5, 232.5, 243, 234, 241.5, 238, 241...","[205.5, 202.5, 37, 43]","[225, 225, 2]",1
7,"[[0, 0, 0, 0, 0, 14, 12, 6, 0, 0, 0, 0, 0, 0, ...","[[226, 248.5, 231.5, 243, 231.5, 237, 225.5, 2...","[211.5, 197.5, 25, 51]","[225, 225, 2]",1
8,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[227, 233.5, 233.5, 225, 232.5, 218, 225, 211...","[210.5, 211.5, 23, 22]","[225, 225, 2]",4
9,"[[67, 62, 64, 76, 49, 0, 0, 0, 8, 19, 4, 0, 0,...","[[230, 238.5, 238.5, 232, 239.5, 223, 229.5, 2...","[203.5, 209.5, 36, 29]","[225, 225, 2]",4
10,"[[0, 0, 0, 0, 0, 17, 41, 69, 76, 72, 53, 44, 4...","[[225, 234.5, 232.5, 230, 232.5, 224, 230.5, 2...","[209.5, 203.5, 24, 31]","[225, 225, 2]",2
11,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[214, 241.5, 224, 231.5, 229, 232.5, 233, 229...","[190.5, 208.5, 51, 33]","[225, 225, 2]",2
12,"[[58, 68, 58, 33, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[[218, 245.5, 220.5, 244, 224, 237.5, 228, 237...","[204.5, 199.5, 35, 46]","[225, 225, 2]",1
13,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[230, 235.5, 237.5, 230, 237.5, 225, 233, 219...","[206.5, 215.5, 31, 20]","[225, 225, 2]",3
14,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[226, 254.5, 229.5, 252, 229.5, 246, 226.5, 2...","[200.5, 179.5, 63, 75]","[225, 225, 2]",4
15,"[[45, 37, 8, 0, 0, 0, 0, 0, 17, 35, 60, 72, 76...","[[212, 253.5, 219.5, 249, 219.5, 245, 221.5, 2...","[194.5, 200.5, 42, 53]","[225, 225, 2]",1
16,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 16, 35, 48, 57...","[[357, 294.5, 360, 290.5, 368.5, 286, 367.5, 2...","[352.5, 279.5, 45, 28]","[378, 294, 2]",2
17,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[224, 240.5, 230, 237.5, 235.5, 232, 235.5, 2...","[209.5, 204.5, 26, 36]","[225, 225, 2]",2
18,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[250, 254.5, 251.5, 253, 251.5, 247, 249.5, 2...","[178.5, 177.5, 79, 77]","[225, 225, 2]",4
19,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[256.5, 448, 268.5, 447, 266.5, 433, 261, 427...","[252.5, 427.5, 16, 20.5]","[264, 447, 2]",4

In [7]:
df.to_csv(r"F:\Karthik-Backup2023\olddesktop-2022-23\Programming\ScienceFair-RadioGalaxy\train.csv", encoding='utf-8', index=False)